async {{findById.methodName}}(id) {
    const request = {
        TableName: "{{tableName}}",
        Key: {
            "{{findById.keyColumnName}}": id
        }
    };
    const promise = await dynamoDbClient.get(request).promise();
    return promise.Items;
}
