async {{findAllMethodFeatures.methodName}}() {
    const request = {
        TableName: "{{tableName}}"
    };
    const promise = await dynamoDbClient.scan(request).promise();
    return promise.Items;
}
